*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.carousel-item {
    height: 500px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.carousel-caption h5,p{
    color: #fff;
}

.card-body p{
    color: black;
}

#slide-1{
    background-image: url(../img/slide-1.jpg);
}
#slide-2{
    background-image: url(../img/slide-2.jpg);
}
#slide-3{
    background-image: url(../img/slide-1.png);
}